@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa'), url('https://fonts.cdnfonts.com/s/90/Comfortaa_Regular.woff') format('woff');
}
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 250;
    src: local('Comfortaa'), url('https://fonts.cdnfonts.com/s/90/Comfortaa_Thin.woff') format('woff');
}
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: local('Comfortaa'), url('https://fonts.cdnfonts.com/s/90/Comfortaa_Bold.woff') format('woff');
}