@font-face {
    font-family: "shango-medium-2";
    src: url("./otf/Shango Medium.otf");,
    src: url("./otf/Shango Medium.otf?#iefix") format("woff"),
    url("./otf/Shango Medium.otf") format("opentype"),
    url("./otf/Shango Medium.otf") format("truetype");
}