#image {
  @apply w-full rounded duration-500;
  &:hover {
    transform: scale(1.1);
  }

}

.status {
  @apply absolute bottom-7 -left-12;
  transform: rotate(45deg);

  span {
    @apply w-full h-full py-2 px-12 font-shangoB text-xs tracking-wider;
  }

  .new {
    background: #F4D74F;
  }

  .hand {
    background: #A8EC90;
  }
}