.about-page {
  @apply w-full md:h-[80vh] h-auto flex md:flex-row flex-col items-center 2xl:px-52 xl:px-14 lg:px-7 px-6 md:pt-0 pt-10 pb-16;
}

.text {
  @apply md:w-1/2 w-full flex flex-col gap-9;
  .title {
    @apply w-full;
    .h1 {
      @apply 2xl:text-3xl xl:text-2xl lg:text-xl md:text-base sm:text-2xl text-xl p-2 gap-2 tracking-wider text-primary_text_black;
      font-family: 'Shango-Bold';

      img {
        @apply 2xl:w-32 xl:w-28 lg:w-24 md:w-20 sm:w-28 w-24;
      }

      .warn {
        @apply text-primary_yellow uppercase;
      }
    }

    .span {
      @apply w-1/4 border-2 mx-2 rounded border-primary_text_black;
    }
  }

  .about {
    @apply font-medium text-primary_text_black leading-6 tracking-wider;
    font-family: 'Comfortaa';

    ul {
      @apply flex flex-col;
      li {
        &:before {
          @apply w-3 h-3 inline-block mx-2;
          background-image: url("../../assets/ico/li.png");
          background-repeat: no-repeat;
          background-size: 12px 12px;
          content:"";
        }
      }
    }
  }

  .btn {
    @apply flex justify-start;
    button {
      @apply 2xl:py-5 xl:py-4 lg:py-3 py-2 2xl:px-12 xl:px-10 lg:px-8 px-6 bg-primary_black text-primary_light rounded;
      font-family: 'Comfortaa';
    }
  }
}

.image {
  @apply md:w-1/2 w-full relative 2xl:pt-52 xl:pt-14 lg:pt-7 md:pt-6 pt-0 flex md:justify-center justify-end pb-4;
  .bg {
    @apply 2xl:w-[500px] 2xl:h-[500px] xl:w-[470px] xl:h-[470px] lg:w-[420px] lg:h-[420px] md:w-[370px] md:h-[370px] sm:w-72 sm:h-72 w-64 h-64
    2xl:right-52 xl:right-20 lg:right-20 md:right-14 md:right-6 right-0 2xl:top-24 xl:top-16 lg:top-10 md:top-6 top-0
    absolute -z-50 bg-cover bg-center;
    img {
      @apply object-cover object-center
    }
  }

  .img {
    @apply 2xl:w-[450px] 2xl:h-[450px] xl:w-[420px] xl:h-[420px] lg:w-[370px] lg:h-[370px] md:w-[320px] md:h-[320px] sm:w-64 sm:h-64 w-56 h-56  overflow-hidden z-10;
    border-radius: 52% 100% 100% 30% / 84% 100% 54% 68%;

    img {
      @apply object-cover object-center w-full h-full;
    }
  }
}

.about-page-acc {
  @apply w-full h-screen flex md:flex-row flex-col items-center 2xl:px-52 xl:px-14 lg:px-7 px-6 md:pt-0 pt-20;
}